<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="justify-content-center align-center">
                <div class="display-3 met ">Register Here</div><br/>
                <div class="card bg-dark">
                   <div class="card-body">
                      <form class="form-group form-horizontal">

                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label text-white" >Username</label>
                             <div class="col-md-6">
                                <input id="username" type="text" class="form-control" name="username"  required autofocus>
                             </div>
                        </div>

                        <div class="form-group">
                             <label for="email" class="col-md-4 control-label text-white" >E-Mail Address</label>
                              <div class="col-md-6">
                                 <input id="email" type="email" class="form-control" name="email" value="email" required autofocus>
                              </div>
                     </div>
                        <div class="form-group">
                             <label for="password" class="col-md-4 control-label text-white">Password</label>
                             <div class="col-md-6">
                                 <input id="password" type="password" class="form-control" name="password" required>
                              </div>
                     </div>

                       <div class="form-group">
                            <label for="confirm-password" class="col-md-4 control-label text-white"> Confirm Password</label>
                            <div class="col-md-6">
                                <input id="confirm-password" type="password" class="form-control" name="confirm-password" required>
                         </div>
                      </div>

                     

                         <div class="form-group">
                             <div class="col-md-8 col-md-offset-4">
                                     <button type="submit" class="btn btn-primary">
                                        Submit
                                  </button>

                                      <a class="btn btn-link text-primary">
                                         Login
                                      </a>
                             </div>
                          </div>
                      </form>
                  </div>
              </div>
         </div>
     </div>
 </div>
</div>
         
