


<!-- <app-header></app-header>
<app-nav></app-nav>
<app-section></app-section>
<app-aside></app-aside>
<app-article></app-article>
<app-footer></app-footer> -->
<!-- <h1 class="bg-info">hello</h1>
{{title}}
<br>
{{23 + 2}} <!--Interplotation binding -->
<!-- <br>
{{num1 + num2}}
<br> -->
<!-- {{date}} --> 
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration>  -->
 <input type="text" name="" [value]='para1'> <!--//Property binding -->

<input type="submit" value="Submit Form" class="btn btn-danger btn-lg"
[disabled]='hide'><br>
<app-attributebinding></app-attributebinding>
<br>
<app-eventbinding></app-eventbinding>
<app-two-waybinding></app-two-waybinding>
<app-template-reference-variable></app-template-reference-variable>
<app-ngstylengclass></app-ngstylengclass>
<app-ngfor></app-ngfor>
<app-ngif></app-ngif>
<app-ngswitch></app-ngswitch>
